.container.ng-enter {
  -webkit-transition: 1s linear all;
  opacity: 0; }

.container.ng-enter-active {
  opacity: 1; }

.welcome {
  height: 100%; }
  .welcome a {
    color: #fff; }
  .welcome .innerWelcome {
    height: 100%; }
    .welcome .innerWelcome .welcomeContainer {
      position: relative;
      height: -webkit-calc(50%);
      height: calc(50%); }
      .welcome .innerWelcome .welcomeContainer .inner {
        position: absolute;
        left: -webkit-calc(50% - 150px);
        text-align: center;
        border-radius: 300px 300px 0 0;
        height: 150px;
        width: 300px; }
      .welcome .innerWelcome .welcomeContainer p {
        position: absolute;
        top: 30px;
        left: 0px;
        width: 300px; }
    .welcome .innerWelcome .signInContainer {
      background-color: #67c7e2; }
      .welcome .innerWelcome .signInContainer .signInInner {
        bottom: 0px;
        border-radius: 300px 300px 0 0;
        background-color: #ff8e8e;
        -webkit-transform-origin: bottom; }
    .welcome .innerWelcome .signUpContainer {
      background-color: #ff8e8e; }
      .welcome .innerWelcome .signUpContainer .signUpInner {
        top: 0px;
        border-radius: 0 0 300px 300px;
        background-color: #67c7e2;
        -webkit-transform-origin: top; }

.welcomeAnimation.ng-leave {
  -webkit-transition: 1s linear all; }
  .welcomeAnimation.ng-leave .welcome .active .inner {
    -webkit-animation: rotate180 0.5s;
    -webkit-transform: rotateX(180deg);
    z-index: 1; }
    .welcomeAnimation.ng-leave .welcome .active .inner p {
      -webkit-animation: rotate180 0.5s;
      -webkit-transform: rotateX(180deg); }
  .welcomeAnimation.ng-leave .welcome .active {
    -webkit-animation: minimize 1s;
    height: 0px; }
  .welcomeAnimation.ng-leave .welcome .inactive {
    -webkit-animation: maximize 1s;
    height: 0px; }

@-webkit-keyframes rotate180 {
  from {
    -webkit-transform: rotateX(0deg); }

  to {
    -webkit-transform: rotateX(180deg); } }

@-webkit-keyframes minimize {
  from {
    height: -webkit-calc(50%);
    height: calc(50%); }

  50% {
    height: -webkit-calc(50%);
    height: calc(50%); }

  to {
    height: 0px; } }

@-webkit-keyframes maximize {
  from {
    height: -webkit-calc(50%);
    height: calc(50%); }

  50% {
    height: -webkit-calc(50%);
    height: calc(50%); }

  to {
    height: -webkit-calc(100%);
    height: calc(100%); } }

.signInPageContainer {
  background-color: #ff8e8e;
  height: 100%; }

.signUpPageContainer {
  background-color: #67c7e2;
  height: 100%; }

html, body, main, .container {
  height: 100%; }
