$color1: #67C7E2;
$color2: #FF8E8E;
$routeChangeTime: 3;

//@import 'container.animation';
@import 'welcome';
@import 'welcome.animation';
@import 'signIn';
@import 'signUp';
@import 'form.validation';

html, body, main, .container {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: $color1;
}