$color1: #67C7E2;
$color2: #FF8E8E;
$routeChangeTime: 1;

@import 'container.animation';
@import 'welcome';
@import 'welcome.animation';
@import 'signIn';
@import 'signUp';

html, body, main, .container {
  height: 100%;
}