.welcomeAnimation.ng-leave {
  -webkit-transition: #{$routeChangeTime}s linear all;
  .welcome{
    .active .inner {
      -webkit-animation: rotate180 #{$routeChangeTime/2}s;
      -webkit-transform: rotateX(180deg);
      z-index: 1;
      p {
        -webkit-animation: rotate180 #{$routeChangeTime/2}s;
        -webkit-transform: rotateX(180deg);
      }
    }

    .active {
      -webkit-animation: minimize 1s;
      height: 0px;
    }
    .inactive {
      -webkit-animation: maximize 1s;
      height: 0px;
    }
  }
}

@-webkit-keyframes rotate180 {
  from {
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
  }
}

@-webkit-keyframes minimize {
  from {
    height: -webkit-calc(50%);
    height: calc(50%);
  }
  50% {
    height: -webkit-calc(50%);
    height: calc(50%);
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes maximize {
  from {
    height: -webkit-calc(50%);
    height: calc(50%);
  }
  50% {
    height: -webkit-calc(50%);
    height: calc(50%);
  }
  to {
    height: -webkit-calc(100%);
    height: calc(100%);
  }
}