$circleSize: 200px;

.welcome {
  height: 100%;
  a {
    color: #fff;
  }
  .innerWelcome {
    height: 100%;
    .welcomeContainer {
      position: relative;
      height: -webkit-calc(50%);
      height: calc(50%);
      .inner {
        position: absolute;
        left: -webkit-calc(50% - #{$circleSize/2});
        text-align: center;
        border-radius: $circleSize $circleSize 0 0;
        height: $circleSize/2;
        width: $circleSize;
      }
      p {
        position: absolute;
        top: $circleSize/5;
        left: 0px;
        width: $circleSize;
      }
    }

    .signInContainer {
      background-color: $color1;
      .signInInner {
        bottom: 0px;
        border-radius: $circleSize $circleSize 0 0;
        background-color: $color2;
        -webkit-transform-origin: bottom;
      }
    }
    .signUpContainer {
      background-color: $color2;
      .signUpInner {
        top: 0px;
        border-radius: 0 0 $circleSize $circleSize;
        background-color: $color1;
        -webkit-transform-origin: top;
      }
    }
  }
}