/* ==========================================================================
   basic layout
   ========================================================================== */


.container {
  margin-top: 40px;
}

	.hoodie-accountbar {
	  position: absolute;
	  top: -30px;
	  right: 0;
	}


	.content {
		padding-bottom: 25px;
	}

	.copy {
		background-color:  #f1f1f1;
	}

		.copy p {
		  padding: 10px 0;
		  text-align: center;
		}