body {
	font-size: 16px;
	font-family: "roboto", serif;
}

.btn {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
	text-decoration: none;
}
.list thead th {
	font-weight: 500;
}

.name {
	font-weight: 500;
}