.btn {
	width: 150px;
	height: 30px;
	border: 0 none;
}

.menu {
	margin-bottom: 30px;
}

.form-signin .name {
	margin-top: 120px;
	text-align: right;
	position: absolute;
	min-width: 300px;
}

.img-rounded {
  	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	width: 150px;
	height: 150px;
	border: 7px solid #fff;
	margin: 20px 10px;
}	