<div class="form-signin">
  <div class="row menu">
    <div class="col-sm-12">
      <button href="#/game/" class="btn" role="button"> << Go back </button>  <button class="btn r" ng-click="userAction.signOut()">Log out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
     
    </div>
  </div>
  <div class="row name">
    <div class="col-sm-12">
      <strong>{{account.username}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img gravatar-src="account.username" gravatar-size="300" class="img-rounded img-responsive r">
      <br class="clear" />
    </div>
  </div>




  <div class="row list">
    <div class="col-sm-12">
      <strong>Your results</strong>

      <ul>
        <li ng-repeat="result in results">
          Game {{ $index+1 }} finished at {{ result.createdAt | date:'medium' }}: <br>
          <table class="table">
            <thead>
              <tr>
                <th>Task</th>
                <th>Your Answer</th>
                <th>Correct Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr class="result has-error"
                  ng-class="{'result-error': (tasks[$index] | eval) != result, 'result-success':(tasks[$index] | eval) == result }"
                  ng-repeat="resultItem in result.results track by $index">

                <td ng-bind="result.tasks[$index]"></td>
                <td ng-bind="resultItem"></td>
                <td ng-bind="result.tasks[$index] | eval"></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>