<div class="signUpPageContainer">
  <div class="row form-signin">
    <h2>Sign Up</h2>

    <div class="col-sm-12">
      <form role="form" name="signUpForm"
            novalidate>
        <div class="form-group col-sm-12">
          <input type="email"
                 class="form-control"
                 placeholder="Enter email"
                 required
                 ng-model="email"
                 name="email">
          <span ng-show="signUpForm.$error.email">Please enter a correct email</span>
          <span ng-show="signUpForm.$error.message">{{signUpForm.$error.message}}</span>
        </div>
        <div class="form-group col-sm-12">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 required
                 ng-model="password"
                 name="password">
        </div>
        <div class="form-group col-sm-12">
          <button
                  ng-click="signUp(email, password)"
                  type="submit"
                  class="btn btn-default btn-block">Submit
          </button>
        </div>
        <div class="form-group col-sm-12">
          <a ng-href="#/">
            <button class="btn btn-default btn-block" ng-href="#/">Back</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>