<div class="signInPageContainer">
  <div class="row form-signin">
    <h2>Sign In</h2>

    <form role="form"
          name="signInForm"
          novalidate>
      <div class="form-group col-sm-12">
        <input type="text"
               class="form-control"
               placeholder="Enter email"
               required
               ng-model="email">
        <span ng-show="signInForm.$error.email">Please enter a correct email</span>
        <span ng-show="signInForm.$error.message">{{signInForm.$error.message}}</span>
      </div>
      <div class="form-group col-sm-12">
        <input type="password"
               class="form-control"
               placeholder="Password"
               required
               ng-model="password">
      </div>
      <div class="form-group col-sm-12">
        <button
                ng-click="signIn(email, password)"
                type="submit"
                class="btn btn-default btn-block">
          Submit
        </button>
      </div>
      <div class="form-group col-sm-12">
        <a ng-href="#/">
          <button class="btn btn-default btn-block" ng-href="#/">Back</button>
        </a>
      </div>
    </form>
  </div>
</div>