<div class="form-signin">
  <h2>Result</h2>

  <table class="table">
    <tr>
      <th>Task</th>
      <th>Your Answer</th>
      <th>Correct Answer</th>
    </tr>
    <tr class="result has-error"
        ng-class="{'result-error': (tasks[$index] | eval) != result, 'result-success':(tasks[$index] | eval) == result }"
        ng-repeat="result in results track by $index">

      <td ng-bind="tasks[$index]"></td>
      <td ng-bind="result"></td>
      <td ng-bind="tasks[$index] | eval"></td>
    </tr>

  </table>
  <div class="form-group">
    <a ng-href="#/">
      <button class="btn btn-default btn-block" ng-href="#/">Back</button>
    </a>
  </div>
</div>