<div class="welcome row">
  <div class="header col-sm-12">
    <h2>Welcome to codeQuiz.</h2>
  </div>
  <div class="innerWelcome">
    <div class="signInContainer" ng-class="{clicked: signIn.clicked, otherClicked: signUp.clicked}">
      <div class="signInInner">
        <p>
          <a ng-click="signIn.clicked = true">Sign In</a>
        </p>
      </div>
    </div>
    <div class="signUpContainer" ng-class="{clicked: signUp.clicked, otherClicked: signIn.clicked}">
      <div class="signUpInner">
        <p>
          <a ng-click="signUp.clicked = true">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</div>